{% extends "layout.html" %}
{% block main %}
<div style="margin-top: 1em;" class="mdui-container">
    {% if errors %}
        <div class="mdui-card" style="margin-bottom: 1em;">
            <div class="mdui-card-content">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="mdui-row">
        <div class="mdui-col-md-9">
            <form method="POST" id="buyForm">
                <div class="mdui-textfield">
                    <input placeholder="输入充值的数值 (最小0.01)" type="text" name="number" id="amount"
                           class="mdui-textfield-input"/>
                </div>
                <div class="mdui-textfield">
                    <input placeholder="输入接收充值码的账号" type="text" name="email" id="email"
                           class="mdui-textfield-input"/>
                </div>
                <input type="text" id="type" name="type" value="0" hidden="true"/>
                <div class="mdui-row">
                    <div class="mdui-col-xs-12">
                        <button id="redirectPay" type="submit"
                                class="mdui-btn mdui-btn-dense mdui-color-theme-accent mdui-ripple mdui-btn-block">支付宝支付
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mdui-col-md-3">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">请注意</div>
                </div>
                <div class="mdui-card-content">购买完成之后请等待跳转回来提取卡密 请不要关闭付款成功窗口</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
