<html>
    <head>
        <title>游戏娘充值中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/css/mdui.min.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>
    </head>
    <body class="mdui-theme-primary-teal mdui-theme-accent-blue">
        <div class="mdui-appbar">
            <div class="mdui-toolbar mdui-color-theme"><a class="mdui-typo-headline">游戏娘充值中心</a>
                <div class="mdui-toolbar-spacer"></div>
            </div>
        </div>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/mdui.min.js"></script>
        <script src="/static/js/custom.js"></script>
        <script>
        {% block script %}
        {% endblock %}
        </script>
    </body>
</html>
