<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/css/mdui.min.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>
    </head>
    <body class="mdui-theme-primary-teal mdui-theme-accent-blue">
        <div class="mdui-appbar">
            <div class="mdui-toolbar mdui-color-theme"><a class="mdui-typo-headline">Deposit</a>
                <div class="mdui-toolbar-spacer"></div>
            </div>
        </div>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <script src="/static/js/mdui.min.js"></script>
    </body>
</html>